.button{
   width: 150px;
   height: 30px;
   background: #c70101;
   color: #fff;
   cursor: pointer;
   border: 0;
   font-family: 'Museo Sans', sans-serif;
   font-weight: normal;
   text-transform: uppercase;
   font-size: 12px;
   border-radius: 5px;
   &-big{
      width: 300px;
      height: 50px;
      font-size: 16px;
      transition: .3s all;
      &:hover{
         background: #a00303;
         font-size: 17px;
      }
   }
}
